#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# --------------------------------------------------
# ROUTE PAR DEFAUT: liste des posts
# --------------------------------------------------

            #PATTERN: /
            #CTRL: ???
            #ACTION: ???
            #TITLE: Alex Parker - Blog
# --------------------------------------------------
# ROUTE DU DETAIL D'UN POST
# --------------------------------------------------
	
			#PATTERN: /posts/id/slug-du-post.html
			#CTRL: ???
			#ACTION: ???
			#TITLE: Alex Parker - Title du post
# --------------------------------------------------
# ROUTE D'AJOUT D'UN POST: affichage du formulaire
# --------------------------------------------------
	
			#PATTERN: /posts/add/form.html
			#CTRL: ???
			#ACTION: ???
			#TITLE: Alex Parker - Add a post
# --------------------------------------------------
# ROUTE D'AJOUT D'UN POST: INSERT
# --------------------------------------------------
	
			#PATTERN: /posts/add/insert.html
			#CTRL: ???
			#ACTION: ???
			#PAS DE TITLE CAR REDIRECTION VERS LA PAGE D'ACCUEIL
# --------------------------------------------------
# ROUTE DE MODIFICATION D'UN POST: Affichage du formulaire
# --------------------------------------------------
	
			#PATTERN: /posts/id/slug-du-post/edit/form.html
			#CTRL: ???
			#ACTION: ???
			#TITLE: Alex Parker - Edit a post
# --------------------------------------------------
# ROUTE DE MODIFICATION D'UN POST: UPDATE
# --------------------------------------------------
	
			#PATTERN: /posts/id/slug-du-post/edit/update.html
			#CTRL: ???
			#ACTION: ???
			#PAS DE TITLE CAR REDIRECTION VERS LA PAGE DE DETAILS DU POST
# --------------------------------------------------
# ROUTE DE SUPPRESSION D'UN POST:
# --------------------------------------------------
	
			#PATTERN: /posts/id/slug-du-post/delete.html
			#CTRL: ???
			#ACTION: ???
			#PAS DE TITLE CAR REDIRECTION VERS LA PAGE D'ACCUEIL

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]

